*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family:  sans-serif;
}
header{
    margin: 0px;
    height: 80px;
    background-color: black;
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
}
header .imgLogo{
    position: absolute;
    width: 150px;
    object-fit: cover;
}
header ul{
    display: flex;
    flex-direction: row;
    position:absolute;
    bottom:0px;
    right: 0px;
}
header li{
    width: 40px;
}
header li img{
    width: 25px;
   
}
header li img:hover{
    transform: scale(1.4);/* Para mover logos redes*/
}



nav{
    background-color: rgb(152, 220, 185);
    margin-top: 80px;
    height: 40px;
    width: 100%;
    position: fixed;
}
.menu-horizontal{
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
}
.menu-horizontal li{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    width: 170px;
    height: 100%;
    background-color: rgb(152, 220, 185)
}
.menu-horizontal>li:hover{
    border-right: 2px solid rgb(1, 1, 1);
    border-left: 2px solid rgb(1, 1, 1);
}
.menu-horizontal li:hover{
    background-color: rgb(127, 255, 185);
}
.menu-horizontal li a{
    text-decoration: none;
    padding: 5px;
    color: black;
    text-align: center;
}

.menu-vertical {
    height: 50px;
   visibility: hidden;
    width: 166px;
    padding-left: 0px;
    list-style: none;
}
.menu-vertical li{
    width: 100%;
    margin: 0px;
}
.menu-vertical li a{
    text-align: left;
    margin: 0px;
}
.menu-horizontal li:hover .menu-vertical{
    visibility: visible;
}


.ContainerPrincipal{
    background-color: black;
    padding top: 120px;
    width: 100%;
}
#Presentación {
    width: 100%;
    height: 590px;
    background-color: antiquewhite;
}
#Recetas{
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#Recetas>h2{
    text-align: center;
    padding: 20px;
    background-color: rgb(123, 207, 152);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Dulces{
   display: flex;
   flex-direction: column;
}

#Dulces>h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(120, 120, 186);
}

#Saladas{
    display: flex;
    flex-direction: column;
 }
 
 #Saladas>h2{
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     background-color: rgb(223, 223, 234);
 }
 

.cadaReceta{
    display: flex;
    flex-direction: row;
    background-color: rgb(235, 225, 239);
    padding-top: 90px;
    border-bottom: solid 3px 
}
.cadaReceta img{
    height: 400px;
}


.cadaReceta .tituloImagenReceta{
   
}

.cadaReceta .tituloImagenReceta h2{
    padding-bottom: 10px;
}

.cadaReceta ul {
    padding-top: 55px;
    padding-left: 50px;
    width: 500px;
}

.cadaReceta ul h3{
    padding-bottom: 20px;
}

.cadaReceta ul li{
    padding-top: 10px;
}

.cadaReceta ol{
    padding-top: 55px;
    padding-left: 50px;
}

.cadaReceta ol h3{
    padding-bottom: 20px;
}

.cadaReceta ol li{
    padding-top: 10px;
}





#Productos{
    text-align: center;
    padding: 30px;
    background-color: rgb(245, 240, 240);
}

#LechesyHelados{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: overline;
    background-color: rgb(245, 240, 240);
}
#lechesyhelados {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(245, 240, 240);
}
#lechesyhelados img{
    height: 300px;
    object-fit: cover;
}
#lechesyhelados img:hover{
    background-color: black;
}

#Untables{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: overline;
    background-color: rgb(255, 255, 255);
}
#untables {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(255, 255, 255);
}
#untables img{
    height: 300px;
    object-fit: cover;
}

#MedallonesyCarnes{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: overline;
    background-color: rgb(245, 240, 240);
}
#medallonesycarnes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(245, 240, 240);
}
#medallonesycarnes img{
    height: 300px;
    object-fit: cover;
}
#medallonesycarnes img:hover{
    background-color: black;
}

#Golosinas{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: overline;
    background-color: rgb(255, 255, 255);
}
#golosinas {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(255, 255, 255);
}
#golosinas img{
    height: 300px;
    object-fit: cover;
}
#golosinas img:hover{
    background-color: black;
}

#Más{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: overline;
    background-color: rgb(245, 240, 240);
}
#más {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(245, 240, 240);
}
#más img{
    height: 300px;
    object-fit: cover;
}
#más img:hover{
    background-color: black;
}





#Información>section .docus{
    height: 200px;
    width: 300px;
    object-fit: cover;
}

#Información section img{
    height: 300px;
    padding: 5px;
}

.row{
    padding: 20px;
}

.row h2{
    text-align: center;
}











@media (max-width:1000px){
    .cadaReceta{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
}




@media (min-width:500px) and (max-width:800px ){
    #lechesyhelados {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }   
}
@media (max-width:500px) {
    #lechesyhelados {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }   
    
}

@media (min-width:600px) and (max-width:800px ){
    #untables {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }   
}
@media (max-width:600px) {
    #untables {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }      
}

@media (min-width:600px) and (max-width:800px ){
    #medallonesycarnes {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }   
}
@media (max-width:600px) {
    #medallonesycarnes {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    } 
}
@media (min-width:700px) and (max-width:800px) {
        #golosinas {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }   
}
@media (max-width:700px) {
        #golosinas {
            display: grid;
            grid-template-columns: repeat(1,1fr);
        } 
}

@media (min-width:700px) and (max-width:900px) {
    #más {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }   
}
@media (max-width:700px) {
    #más {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    } 
}
    




